body {
    background-color: #b5e7a0;
    display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            overflow: hidden;
}

.intro {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    color: #3e4444;
    text-decoration: none;
    text-align: center;
}

#countdown {
    margin-top: 20px;
    text-align: center;
}

.snowflake {
    position: absolute;
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    animation: snowfall 5s linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(-5%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.discord-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #7289DA;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    z-index: 1000;
}