body {
    background-image: url("homik.gif");
}

.banner {
    background-image: url("face.jpg");
    background-size: 50px;
    display: inline;
    font-size: 50px;
    font-family: "Comic Sans MS";
    color: #ff9408;
    padding: 20px;
    display: flex;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            margin: 200px auto;
    width: 700px;
}